/* Start coding here */
.container {
    background-color: lightgrey;
    height: 100vh;
    padding: 50px;
  }
  
  .box-1 {
    width: 100%;
    height: 25%;
    background-color: khaki;
  }
  
  .box-2 {
    width: 100%;
    height: 25%;
    background-color: orange;
  }

  .box-3 {
    width: 100%;
    height: 50%;
    background-color: cornflowerblue;
  }